</div>
<br>
<center><p class="lead">
  Check off the songs you'd like to add to a Spotify playlist.
</p>
<div id="table_container">
  <table class="table table-striped table-hover " id="song-table">
    <thead>
      <tr>
        <th>
          <%= check_box_tag 'select_all' %>
        </th>
        <th></th>
        <th>Song</th>
        <th>Listened to by</th>
      </tr>
    </thead>
    <%= form_tag("/to_spotify", :method => :post) do %>
    <% @now_playing_list.each do |tweet| %>

      <tr class="table-row">
        <% next if tweet.nil? %>
        <% if !tweet[:song_object].nil? %>
          <td style="vertical-align:middle">
            <%= check_box_tag tweet[:song_object].id, 'yes', false, class: 'spotify_checkbox' %>
          </td>
        <% else %>
          <td style="vertical-align:middle">
          </td>
        <% end -%>

        <td style="vertical-align:middle">
          <% if !tweet[:song_object].nil? %>
            <img src = "<%= tweet[:song_object].album.images.last["url"] %>">
          <% else %>
            <%= image_tag("music_icon.png", size: "64x64") %>  
          <% end -%>
        </td>

        <td class="song_text" style="vertical-align:middle"><b>
          
          <% if !tweet[:song_object].nil? %>
            <a href = "<%= tweet[:song_object].uri %>"><%= tweet[:song_text] %></a>
          <% else %>
            <%= tweet[:song_text] %>
          <% end -%>
          
          </b></td>
        <td style="vertical-align:middle"><%= tweet[:tweet_object].user.name %></td>
      </tr>
    <% end -%>
  </table>
</div>

<div><center>
  
    <%= submit_tag "Create a Spotify playlist with these tracks!", :class => "btn btn-success btn-lg" %>
  <% end %>
  <br><br>
</div>