<center><h1><%= "#{@user.name}, "%></h1>
<h2>here's what your friends are listening to!</h2> 

<div id="table_container">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th></th>
        <th>Song</th>
        <th>Listened to by...</th>
      </tr>
    </thead>
    <% @now_playing_list.each do |tweet| %>
      <tr>
        <td style="vertical-align:middle">
          <% if !tweet[:song_object].nil? %>
            <img src = "<%= tweet[:song_object].album.images.last["url"] %>">
          <% else %>
            <%= image_tag("music_icon.png", size: "64x64") %>  
          <% end -%>
        </td>
        <td style="vertical-align:middle"><b>
          
          <% if !tweet[:song_object].nil? %>
            <a href = "<%= tweet[:song_object].uri %>"><%= tweet[:song_text] %></a>
          <% else %>
            <%= tweet[:song_text] %>
          <% end -%>
          
          </b></td>
        <td style="vertical-align:middle"><%= tweet[:tweet_object].user.name %></td>
      </tr>
    <% end -%>
  </table>
</div>