
  <div id="container">
    <div id="content">
      <center><h1 class="bigh1">simplist</h1><br>
      <div>
        <%= form_tag("/auth/twitter", :method => :get) do %>
          <%= submit_tag "Get your friends' tracks by signing in with Twitter", :class => "btn btn-success btn-lg" %>
        <% end %>
        </div>

        <% if !flash[:error].nil? %>
        <br>
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= flash[:error] %>
        </div>
        <% end -%>

        <div>
        <br>
        <%= form_tag("/show/public", :method => :get) do %>
          <%= submit_tag "Get the whole world's tracks!", :class => "btn btn-success btn-lg" %>
        <% end %>
      </div>
      </center>
      
    </div>
  </div>
<!-- <img src="http://31.media.tumblr.com/ffad795ecaec4a6348d0d839362222e9/tumblr_nm1m2rWGhV1tcuj64o1_400.gif" alt title> -->



